<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/estilos.css">
      <link rel="stylesheet" href="../css/listados.css">
      <title>agregarEntidad.html</title>
  </head>

  <body>
    <div id="page-content">
      <h2 style="text-align: center;">Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</h2>
      <div class="center-content">
        <div style="width: 70%;">
          <h3 style="text-align: center;">Seleccionar una Entidad para: {{nombre}}</h3>
          <table>
            <thead>
              <tr class="table-h-row">
                <th class="table-h" style="width: 40%;"> <span>Nombre</span> </th>
                <th class="table-h" style="width: 20%;"> <span>Tipo de Entidad</span> </th>
                <th class="table-h" style="width: 35%;"> <span>Localización</span> </th>
                <th class="table-h" style="width: 5%;"> <span></span> </th>
              </tr>
            </thead>
            <tbody>
            {{#each entidades}}
              <tr class="table-row">
                <td class="text-truncate"> <span class="cell-content">{{this.getNombre}}</span> </td>
                <td class="text-truncate"> <span class="cell-content">{{this.getTipoDeEntidad}}</span> </td>
                <td class="text-truncate"> <span class="cell-content">{{this.lugarDeActividad}}</span> </td>
                <td>
                  <div class="actions-panel">
                    {{#if entidadPrestadora}}
                    <form method="post" action="/prestadora/asociar?id={{entidadPrestadora.getId}}&entidad_id={{this.getId}}">
                    {{/if}}
                    {{#if organismoDeControl}}
                    <form method="post" action="/reguladora/asociar?id={{organismoDeControl.getId}}&entidad_id={{this.getId}}">
                    {{/if}}
                        <button class="table-action-btn" type="submit">SELECT</button>
                    </form>
                  </div>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>

        <div class="panel" style="margin-top: 10px; min-width: 400px; max-width: 400px;">
          <div style="width: 100%; display: inline-flex;">
            <a style="margin: 3px" class="btn" href="/inicio">Ir a inicio</a>
            {{#if entidadPrestadora}}
            <a style="margin: 3px" class="btn" href="/entidades/crear?prestadora_id={{entidadPrestadora.getId}}">Dar de alta</a> {{!Administrador de Plataforma}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>