body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom right, #CDFFD8, #94B9FF);
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    color: #000;
    margin-right: 20px;
    font-weight: bold;
}

.btn-login,
.btn-logout {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.btn-login:hover,
.btn-logout:hover {
    background: #333;
}

nav {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura disponible */
    text-align: center; /* Centra el texto */
}

/* Estilos para los botones dentro de main */
main.center-content .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px;
}

.form-container {
    min-width: 400px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.btn {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}
