body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom right, #CDFFD8, #94B9FF);
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

#page-content {
    text-align: center;
    padding: 20px;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #f9f9f9;
}

.actions-panel a {
    /*margin-right: 5px;*/
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: large;
}

.btn-login,
.btn-logout {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.btn-login:hover,
.btn-logout:hover {
    background: #333;
}


td {
border-left: 1px solid #ddd;
text-align: center;
}