<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear_comunidad.css">
</head>
<body>
    <header>
        <h1>Sistema de Apoyo a Comunidades con Movilidad Reducida</h1>
        <div class="user-info">
            {{#if usuario}}
            <p class="user-name">Usuario: {{usuario.getNameUser}}</p>
            {{/if}}
            <form action="/logoff" method="post">
            <button class="btn-logout">Log Out</button>
            </form>
        </div>
    </header>
    <nav>
        <a href="/inicio">Home</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/comunidades">Comunidades</a>
        <a href="/servicios">Servicios</a>
    </nav>
    <main>
        <div class="container">
            <h2>Editar Comunidad</h2>
            <form method="post" action="">
                <label for="nombre">Nombre de Comunidad:</label>
                <input style="width: unset;" type="text" id="nombre" name="nombre" value="{{comunidad.getNombre}}" required>
                   {{!<label>Permitir nuevos miembros:</label>
                        <select style="margin-bottom: 50px; width: 100%;">
                            <option value="1">Permitir</option>
                            <option value="2">No permitir</option>
                            <option value="3">Permitir con solicitud</option>
                        </select>}}
                {{#if creacion_error}}
                <label style="color: crimson">ERROR: {{creacion_error}}.</label>
                {{/if}}
                <button type="submit" class="btn-crear">Modificar</button>
            </form>
        </div>
    </main>
</body>
</html>