<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Comunidades</title>
    <link rel="stylesheet" href="/css/gestion_servicios.css">
</head>
<body>
    <header>
        <h1>Sistema para Personas con Discapacidad</h1>
        <div class="user-info">
           {{#if usuario.getNameUser}}
                    <p class="user-name">Usuario: {{usuario.getNameUser}}</p>
                {{else}}
                    <!-- No mostrar nada cuando el usuario no ha iniciado sesión -->
                {{/if}}
                {{#if usuario.getNameUser}}
                    <form action="/logoff" method="post">
                    <button class="btn-logout">Log Out</button>
                    </form>
                {{else}}
                    <button class="btn-login">Log In</button>
                {{/if}}
        </div>
    </header>
    <nav>
        <a href="/inicio">Home</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/comunidades">Comunidades</a>
        <a href="/servicios">Servicios</a>
    </nav>
    <main>
    </main>
    <div class="container">
        <h1>Gestión de Servicios</h1>
        <button class="boton" onclick="location.href='/servicio/crear_servicio'">Abrir Servicio</button>
        <button class="boton" onclick="location.href='/ver_servicios'">Ver Comunidades</button>
    </div>
</body>
</html>