<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/estilos.css">
      <title>DDS/TPA - Servicios</title>
  </head>
  
  <body>
    <div id="page-content" style="margin-top: 50px;">
      <h2 style="text-align: center;">Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</h2>
      
    </div>
  </body>
</html>