<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../css/estilos.css">
      <link rel="stylesheet" href="../css/listados.css">
      <title>establecimiento.html</title>
  </head>
  
  <body>
    <div id="page-content">
      <h2 style="text-align: center;">Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</h2>
      <div class="center-content">
        <div>
          <h3 style="text-align: center;">Ver Establecimiento</h3>
          <div class="panel" style="min-width: 400px; max-width: 400px;">
            <div style="display: flex;">
              <label>Nombre:</label>
              <label style="margin-left: 5px;" class="text-truncate">{{establecimiento.nombreMostrado}}</label>
            </div>

            {{#if tipoDeEstacion}}
            <div style="display: flex;">
              <label>Tipo:</label> {{!mostrar en caso de ser Estación}}
              <label style="margin-left: 5px;" class="text-truncate">{{tipoDeEstacion}}</label>
            </div>
            {{/if}}

            {{#if entidadAsociada}}
            <div style="display: flex;">
              <label>Entidad:</label> {{!mostrar en caso de ser Sucursal}}
              <a style="margin-left: 5px;" class="text-truncate" href="/entidades/ver?id={{entidadAsociada.getId}}">{{entidadAsociada.getNombre}}</a>
            </div>
            {{/if}}

            <div style="display: flex;">
              <label>Ubicación:</label>
              <label style="margin-left: 5px;" class="text-truncate">{{establecimiento.ubicacionMostrada}}</label>
            </div>
          </div>

          <div class="panel" style="margin-top: 10px; min-width: 400px; max-width: 200px; max-height: 400px;">
            <div style="display: flex; align-items: baseline; justify-content: space-around;">
              <h3 style="text-align: center; margin-top: 0px;">Prestaciones</h3>
              <a href="/prestaciones/crear?establecimiento_id={{establecimiento.getId}}">Agregar</a> {{!Prestadora y Administrador de Plataforma}}
            </div>
            <div style="width: 100%; overflow-y: scroll; max-height: 200px;">
              <table>
                <tbody>
                {{#each prestaciones}}
                  <tr class="table-row">
                    <td style="min-width: 200px; max-width: 200px"> <div class="cell-content text-truncate">{{this.nombreDelServicio}}</div> </td>
                    <td>
                      <div class="actions-panel">
                        <a class="table-action-btn" href="/prestaciones/ver?id={{this.getId}}">...</a>
                      </div>
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel" style="margin-top: 10px; min-width: 400px; max-width: 400px;">
            <div style="width: 100%; display: inline-flex;">
              <a style="margin: 3px" class="btn" href="/inicio">Ir a inicio</a>
              <a style="margin: 3px" class="btn" href="/establecimientos/ver">Ver establecimientos</a>
            </div>
            <div style="width: 100%; display: inline-flex;">
              <a style="margin: 3px" class="btn" href="/establecimiento/remover?id={{establecimiento.getId}}">Dar de baja</a> {{!Administrador de Plataforma}}
              <a style="margin: 3px" class="btn" href="/establecimiento/modificar?id={{establecimiento.getId}}">Modificar</a> {{!Prestadora y Administrador de Plataforma}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>